.SearchBarContainer {
   display: flex;
   flex-direction: row;
   width: 700px;
   height: 60px;
   margin-top: 26px;
}

.SearchButtonContainer {
   width: 60px;
   height: 60px;
   border-radius: 16px;
   background-color: #6c40b5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   justify-items: center;
   align-items: center;
   align-self: center;
   justify-self: center;
}

.SearchIcon {
   color: white;
   font-size: 30px;
}

.SearchBarError {
   color: #a83232;
   font-size: 28px;
   margin-top: 6px;
}
