.SearchBar {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}

.SearchBar input {
   margin-right: 20px;
   width: 100%;
   height: 60px;
   font-family: noto-sans, sans-serif;
   font-weight: 400;
   font-size: 24px;
   border-radius: 20px;
   padding: 16px 22px;
   outline: none;
   border: none;
   background-color: rgba(255, 255, 255, 0.4);
}

input::placeholder {
   font-weight: 400;
   font-size: 20px;
   color: #00000066;
}
