.HistoryCard {
   display: flex;
   flex-direction: row;
   border-radius: 15px;
   background-color: var(--background-search-input-container);
   width: 580px;
   height: 60px;
   margin: 10px 30px 0px 30px;
   padding: 21px;
   align-items: center;
   align-content: center;
   justify-content: space-between;
   justify-items: center;
}

.SearchAndDeleteButtonContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--background-card-icon-container);
   color: grey;
   margin-right: 10px;
   width: 34px;
   height: 34px;
   border-radius: 20px;
   align-self: center;
   justify-self: center;
   align-items: center;
   justify-items: center;
}

.HistoryCard p {
   font-family: noto-sans, sans-serif;
   font-size: 16px;
   font-weight: 400;
   margin-right: 10px;
   color: var(--text);
}

.HistoryCardRightSide {
   display: flex;
   flex-direction: row;
   align-items: center;
}
