.SearchHistoryOverview {
   display: flex;
   width: 620px;
   min-height: 40rem;
   border-radius: 25px;
   background-color: rgba(255, 255, 255, 0.2);
   align-self: center;
   align-items: center;
   flex-direction: column;
   overflow-x: hidden;
   padding: 13px;
}

.SearchHistoryHeader {
   align-self: start;
   padding-left: 10px;
   font-family: noto-sans, sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding-bottom: 10px;
   padding-top: 10px;
}
