.WeatherPage {
   display: flex;
   align-items: center;
   align-self: center;
   flex-direction: column;
   width: 100%;
   min-height: 100vh;
   position: relative;
   margin: 0;
}

.WeatherPage:before {
   content: "";
   background-image: var(--background-image);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}
